<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <springProperty scope="context" name="logstashHost" source="logstash.host" defaultValue="localhost"/>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination>
        <!--<destination>${logstashHost}:5000</destination>-->

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc/>
                <context/>
                <version/>
                <logLevel/>
                <loggerName/>

                <pattern>
                    <pattern>
                        {
                        "app-name": "gokuecommerce",
                        "app-version": "1.0"
                        }
                    </pattern>
                </pattern>

                <threadName/>
                <message/>

                <logstashMarkers/> 
                <arguments/>

                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <springProfile name="docker">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="stash"/>
        </root>
    </springProfile>
    <springProfile name="!docker">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <logger name="org.springframework" level="INFO"/>
    <logger name="com.teste" level="DEBUG"/>
</configuration>
